*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

nav {
    height: 10vh;
    background: lightcoral;
}

.banner {
    height: 20vh;
    background: yellowgreen;
}

footer {
   height: 10vh;
   background: whitesmoke;
}