<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static',filename='images/icon.png')}}">
    <title>{% block title %}aprilmix{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"/>
    {% block more_css %}{% endblock %}
</head>
<body>
<nav>
    <ul>
      <li><a id="logo" href="/">Aprilmix</a></li>
      <div id="dropdown-menu">
        <li><a href="/">home</a></li>
        <li><a href="/#aboutme">about me</a></li>
        <li><a href="/#project">project</a></li>
        <li><a href="#contact">contact</a></li>
      </div>
      <div id="dropdown" class="dropdown" onclick="toggleFunc(this)">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
      </div>
    </ul>
  </nav>
{% block container %}
<div id="aboutme" class="aboutme">
    <img src="static/images/icon-image.png" alt="">
    <div class="spantext">
      <h1>Hi, I'm a developer 👋</h1>
      <span class="indent-text">Hi, I'm Nicky. I am currently learning programming in my spare time because I want to be able to solve problems and automate tedious tasks that I often encounter.</span>
      <span class="indent-text">Programming is a fascinating field that allows you to build and create things from scratch. It's a very logical and straightforward process - the code executes exactly as you write it, and you can see the results of your actions in real-time. Whether your approach is correct or not, programming provides instant feedback, which is one of the reasons why I find it so rewarding. I believe that learning programming will help me think more critically and provide me with new opportunities to pursue in the future.</span>

      <br>
      <span>
        <span><strong>Languages:</strong> Python, JavaScript and CSS</span><br>
        <span><strong>Tools:</strong> Flask, Pytorch, Tensorflow, Numpy, Pandas, Selenium and BS4</span>
      </span>
    </div>
  </div>
  <div class="loading-project">
    <img src="static/images/elon-loading.gif" alt="">
  </div>
  <div id="project" class="project"></div>
{% endblock %}
  <footer id="contact">
    <ul>
      <li><a target="_blank" href="https://github.com/NickygenN1">github</a></li>
      <li><a target="_blank" href="https://www.kaggle.com/aprilmixdev">Kaggle</a></li>
      <li><a target="_blank" href="mailto:aprilmix.dev@gmail.com">gmail</a></li>
      <li><a target="_blank" href="https://web.facebook.com/alan.hunter.39108297">facebook</a></li>
      <li><a target="_blank" href="https://www.youtube.com/@aprilmixdev">youtube</a></li>
    </ul>
  </footer>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>