{% extends "home.html" %} 
{% block title %}Youtube Caption Loader{% endblock %}
{% block more_css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/youtube-caption.css')}}"/>
{% endblock %}

{% block container %}
<div class="main-yt">
    <h1 id="caption-h1">Youtube Caption Loader</h1>
    <div class="input-url-caption" id="input-url-caption">
        <input type="text" id="urlInput" placeholder="paste youtube url">
        <div class="btn-input">
            <button id="pasteBtn">P</button>
            <button id="convertBtn"><img src="static/images/loop.png" alt="" width="25px" height="25px"></button>
        </div>
    </div>
    <div id="error"></div>
    <div class="loding-css"><div class="lds-ellipsis""><div></div><div></div><div></div><div></div></div></div>
    <div class="main-loading">
        <div class="loding-box">
        <div class="image-load-box">
            <div class="image-load"></div>
            <div class="title-load"></div>
        </div>
        <div class="btn-load">
            <div class="btn1-load"></div>
            <div class="btn2-load"></div>
        </div>
    </div>
    </div>
    <div class="main-caption-show" style="display: none;">
        <div class="select-lang-caption">
            <div class="select-lang-image">
                <img id="image">
                <h3 id="title"></h3>
            </div>
        <div class="select-lang-option" id="select-lang-option">
            <select id="selectLang"></select>
            <button id="selectLangBtn">selected</button>
        </div>
        </div>
    </div>
</div>
    <script src="{{url_for('static',filename='js/youtube-caption.js')}}"></script>
{% endblock %}
